<ion-view view-title="Availabilities">
  <ion-content class="BaseLayout">
    <div class="card" ng-repeat="day in ctrl.days">
      <div class="item item-divider">
        {{ctrl.dayNames[day - 1]}}
      </div>

      <div class="item item-text-wrap">
        <div ng-show="!ctrl.hasAvailability(day)">
          <div aw-add-availability></div>
        </div>

        <div class="item">
          <div ng-repeat="availability in ctrl.availabilities">
            <div ng-show="availability.week_day === day">
              <p>{{availability.start_time | date: 'shortTime'}} - {{availability.end_time | date: 'shortTime'}}</p>
              <div aw-remove-availability></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
