<ion-view view-title="{{event().name}}">
  <ion-content class="padding BaseLayout">
    <h1>
      {{event().name}}
    </h1>
    <p>
      {{event().description}}
    </p>
    <p>
      {{event().hashtag}}
    </p>
    <p>
      {{event().location}}
    </p>

    <div ng-show="currentUser()">
      <div ng-show="!isAttending(event().id)">
        <div class="Button">
          <button class="Button-create" ng-click="attend(event().id)">
            <i class="ion-checkmark-round"></i>
          </button>
        </div>
      </div>

      <div ng-show="isAttending(event().id)">
        <div class="Button">
          <button class="Button-delete" ng-click="cancelAttend(event().id)">
            <i class="ion-close-round"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="InfoMessage" ng-hide="currentUser()">
      <span class="InfoMessage-mustLogin">You must be logged in to attend an event</span>
    </div>

  </div>
  </ion-content>
</ion-view>
