<ion-view view-title="Settings">
  <ion-content class="BaseLayout">
    <ion-list>
      <ion-item ng-show="currentUser()" class="item-icon-left">
        <i class="icon ion-person"></i>
        {{currentUser().name}}
      </ion-item>

      <ion-item ng-hide="currentUser()" class="item-icon-left" ng-click="signInWithTwitter()">
        <i class="icon ion-social-twitter"></i>
        Sign in with Twitter
      </ion-item>
    </ion-list>

    <div ng-show="currentUser()" >
      <aw-button my-class='button button-block button-positive' label-button='Check Availability' ng-click="availabilities()"> </aw-button>

      <button class="button button-block button-assertive" ng-click="signOut()" ui-sref="tab.events">Sign out </button>
    </div>

  </ion-content>
</ion-view>
