<ion-view view-title="Settings">
  <ion-content class="BaseLayout">
    <ion-list>
      <ion-item ng-show="currentUser()" class="item-icon-left">
        <i class="icon ion-person"></i>
        {{currentUser().name}}
      </ion-item>

      <ion-item ng-hide="currentUser()" class="item-icon-left" ng-click="signInWithTwitter()">
        <i class="icon ion-social-twitter"></i>
        Sign in with Twitter
      </ion-item>
    </ion-list>

      <button class="button button-block button-positive" ng-show="currentUser()" ui-sref="tab.availabilities">Check Availability</button>

      <button class="button button-block button-assertive" ng-show="currentUser()" ng-click="signOut()" ui-sref="tab.events">Sign out </button>

  </ion-content>
</ion-view>
