<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
      <ion-item ng-show="currentUser()" class="item-icon-left">
        <i class="icon ion-person"></i>
        {{currentUser().name}}
      </ion-item>

      <ion-item ng-hide="currentUser()" class="item-icon-left" ng-click="signInWithTwitter()">
        <i class="icon ion-social-twitter"></i>
        Sign in with Twitter
      </ion-item>
      <button class="button Button" ng-hide="!currentUser()" ng-click="signOut()">Sign out</button>
    </ion-list>

      <button class="button" ng-hide="!currentUser()" ui-sref="tab.availabilities">Availabilities</button>
  </ion-content>
</ion-view>
